.table {
  border-collapse: collapse;
  border: 1px solid rgb(0 0 0);
}
.text_center {
  text-align: center;
}
.row {
  padding: 8px;
}
.bg_gray {
  background-color: grey;
}
.bg_lightgray {
  background-color: rgb(239, 237, 237);
}
.cell {
  padding: 8px 10px;
  border: 1px solid rgb(0 0 0);
}

.bg_stone {
  background-color: rgb(41 37 36);
  color: #fff;
}
